*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
.env
.idea
src/.env
src/*.exe
src/supermassive
supermassive
.cluster
.node
.nodereplica
.journal
src/.node
src/.nodereplica
src/.cluster
src/.journal
bin/*
bin